{% extends 'poll/base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block style %}

body{
	background-color: black;
}


.imageContainer {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:;
}

{% endblock %}

{% block content %}

 
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">START PAGE</h1>
  <p class="w3-xlarge">Template by w3.css</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>
<!--     <section style="padding-top: 8px;">
        <div class="card" style=" background-color: black;">
    

<div class="row" style="background-color: black;">

    <div class="col-lg-4 col-md-12 mb-2 mb-lg-0">
    	<div class="imageContainer" style="padding: 0px;">
      		<img
      		src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSET4OYj_LfpKLlasfQQ86RkAdwxEWHgkBF8Q&usqp=CAU"
      		class="w-100 shadow-1-strong rounded mb-4"
      		alt=""/>
  			<div class="centered" style="color:black;">Centered1</div>
		</div>
    
		<div class="imageContainer">
   				<img
      				src="https://img.freepik.com/free-photo/color-concrete-wall-background_1323-256.jpg?size=626&ext=jpg"
      				class="w-100 shadow-1-strong rounded mb-4"
      				alt=""
    				/>
	       		<div class="centered" style="color: black;">Centered2</div>
    	</div>
	</div>
    
  <div class="col-lg-4 mb-2 mb-lg-0">
    <div class="imageContainer">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9bHkBxf0d0XVrbe-pxj9J8YVUG72m14zSrA&usqp=CAU"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
    <div class="centered" style="color: black;">Centered3</div>
    </div>
      
    <div class="imageContainer">
    
    <img
      src="https://cdn.hipwallpaper.com/i/53/3/A9kfOd.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
       <div class="centered" style="color:black;" >Centered4</div>
        
  </div>
</div>
    
    
  <div class="col-lg-4 mb-2 mb-lg-0">
    <div class="imageContainer">
      <img
      src="https://us.123rf.com/450wm/golubovy/golubovy1905/golubovy190500706/123868293-vibrant-pink-solid-color-background-plain-magenta-surface-modern-painting-creativity-and-art-bright-.jpg?ver=6"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
       <div class="centered" style="color: black;">Centered5</div>
</div>
      
    <div class="imageContainer">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCzuCTe_hG9dsrVzlw6uLUXle7QPbfIbtJgQ&usqp=CAU"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
       <div class="centered" style="color:black;">Centered6</div>
  </div>
</div>
</div>


</div>

    </section> -->


<div class="w3-row" id="myGrid" style="margin-bottom:128px">


<div class="w3-third">
{% for poll in polls %}	
	{% if forloop.counter|divisibleby:3 %}
		<div class="container" style="padding: 0px; position: relative;">
  			<img src="/media/{{ poll.back_image }}" style="width:100%">	
  			<div class="centered" style="color:black;"><a href="{{ poll.id }}/">{{ poll.question }}</a></div>
  		</div>
  	{% endif %}
{% endfor %} 
</div>

<div class="w3-third">
{% for poll in polls %}	
	{% if forloop.counter|divisibleby:3 %}
	<div></div>
	{% elif forloop.counter|divisibleby:2 %}
  		<div class="container" style="padding: 0px; position: relative;">
  			<img src="/media/{{ poll.back_image }}" style="width:100%">	
  			<div class="centered" style="color:black;"><a href="{{ poll.id }}/">{{ poll.question }} </a></div>
  		</div>
  	{% endif %}	
{% endfor %}   
</div>

<div class="w3-third">
{% for poll in polls %}	
	{% if forloop.counter|divisibleby:3 %}
	{% elif forloop.counter|divisibleby:2 %}
	{% else %}
	  	<div class="container" style="padding: 0px; position: relative;">
	  		<img src="/media/{{ poll.back_image }}" style="width:100%">	
	  		<div class="centered" style="color:black;"><a href="{{ poll.id }}/">{{ poll.question }} </a></div>
	  	</div>
  	{% endif %}
{% endfor %}   
</div>






</div>



{% endblock content %}



