{% extends "poll/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
{% endblock style %}
{% block content %}
    {% comment %} <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <div class="row">
        <div class=col-md-6>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
          </form>          
        </div>
        <div class="col-md-6">
          {% for poll in polls %}

          <div class="container"> {{ poll.question }}</div>
          <div>{{ poll.option1 }} has {{ poll.option1_count }}</div>
          <div>{{ poll.option2 }} has {{ poll.option2_count }}</div>
          <hr>

          {% endfor %}
        </div>
      </div>
      
      
    </div> {% endcomment %}



























<div class="container">
    <div class="main-body">
    
          
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ user.profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ user.username }}</h4>
                      
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
              

                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group px-3">
                        <button class="btn btn-primary " type="submit">Update</button>
                    </div>
                  </form>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.username }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Total Polls</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ polls|length }}
                    </div>
                  </div>
                  <hr>
                  
                </div>
              </div>
              
              <div class="row gutters-sm">
                {% for poll in polls %}
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><a href="url 'detail-poll' "><i class="material-icons text-info mr-2"></i>{{ poll.question }}</a></h6>
                      <small>{{poll.option1}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width:{{poll.percentage_o1}}%" aria-valuenow="{{poll.percentage_o1}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>{{poll.option2}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{poll.percentage_o2}}%" aria-valuenow="{{poll.percentage_o2}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      
                    </div>
                    <a class="btn btn-outline-danger" href="{% url 'delete' poll.id %}">Delete</a>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
    </div>





{% endblock content %}